* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-------------------------------------Variable*/
:root {
  --ani-fadeOutTime: 0.5s;
}
/*-------------------------------------header and navigation*/
header {
  position: relative;
}
nav {
  width: 25%;
}
/*--------------------------------- form*/
label,
input,
button {
  display: block;
}
label,
input,
textarea {
  width: 100%;
}
textarea {
  height: calc(16px * 5);
  resize: none;
}
label {
  margin: 6px 0 0 0;
}
input[type="radio"],
label[for="hero"],
label[for="villain"] {
  display: inline-block;
  width: auto;
}
/*--------------------------------Data content*/
main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 70%;
  margin: auto;
}
h2 {
  font-size: 15px;
}
article button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  border: none;
  padding: 5px 10px 3px 10px;
  transition: var(--ani-fadeOutTime);
}
article button:disabled {
  color: black;
}
article {
  position: relative;
  padding: 10px 10px 40px 10px;
  animation: enter var(--ani-fadeOutTime) forwards ease-out;
  border: solid black 5px;
  background: url(images/paper_texture-002.jpg);
}
article:nth-child(odd) {
  background: url(images/paper_texture-001.jpg);
}
article.remove {
  background: black;
  transition: var(--ani-fadeOutTime);
  color: white;
}
@keyframes enter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*-------------------------------Error styles*/
.error {
  border-color: red;
  background: pink;
}
